@import "tailwindcss";

button {
  @apply cursor-pointer;
}

/** LOADER **/
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/** SENDING **/
.sending,
.sending:before,
.sending:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.sending {
  color: #ffffff;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.sending:before,
.sending:after {
  content: "";
  position: absolute;
  top: 0;
}
.sending:before {
  content: "Enviando";
  left: -3.5em;
  animation-delay: -0.32s;
}
.sending:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/**  OVERLAY **/

.submitting-overlay {
  position: relative;
}

.submitting-overlay > * {
  position: relative;
  z-index: 1;
}

.submitting-overlay > div.absolute {
  z-index: 0;
}

/* PDF */

#pdf {
  width: 100%;
  max-width: 20cm;
}

.pdf-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pdf-logo {
  max-width: 120px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.pdf-info {
  text-align: right;
}

.pdf-body,
.pdf-presupuesto,
.pdf-materiales,
.pdf-formas-pago {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pdf-presupuesto > h2 {
  font-size: 18px;
}

.pdf-body > h2,
.pdf-materiales > h2,
.pdf-formas-pago > h2 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
}

.table-pdf {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
  text-align: left;
  th,
  td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
  }
  th {
    background-color: #f4f4f4;
  }
}

.string-to-list ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
}

.string-to-list li {
  margin-bottom: 3px;
}

.text-size {
  font-size: 12px;
  line-height: 14px;
}

.firma-span {
  font-weight: 400;
  text-transform: uppercase;
  font-size: inherit;
}
